.wrapper {
	width: 100%;
}

.accordeon {
	width: 100%;
}

.item {
	background: #ff6060;
	border-radius: 5px;
	width: 90%;
	margin-bottom: 50px;
}

.item__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 17px;
}

.item__title--text {
	color: #ffff;
	font-size: 24px;
	font-weight: 500;
}

.item__title--vector {
	cursor: pointer;
}

.content {
	max-height: 0;
	overflow: hidden;
	transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.content .show {
	height: auto;
	max-height: 9999;
	transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.content-show {
	background-color: #f7f7f7;
	font-size: 24px;
	font-weight: 400;
	color: #ff6060;
	padding: 27px;
}
