.Body {
	width: 1240px;
}

.TitleHostBloc {
	display: flex;
	margin-bottom: 20px;
}
.BlocRateTags {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.TagsBloc {
	display: flex;
	justify-content: flex-start;
}
.Rate {
	display: flex;
	justify-content: flex-end;
}

.dropdownBloc {
	display: flex;
	justify-content: space-between;
}

.dropdownBloc .wrapper {
	width: 582px;
}

.Dropdown--equipments {
	list-style-type: none;
	margin-bottom: 5px;
}

.TitleHostBloc {
	display: flex;
	justify-content: space-between;
}

.RateTagsBloc {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

.Star {
	color: #e3e3e3;
	font-size: 30px;
}
