.LayoutHeader {
	width: 100%;
	height: 68px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 63px;
}

.LayoutHeader__Nav {
	height: 50%;
}

.LayoutHeader__Nav--List {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	font-size: 24px;
	margin: 0px;
}

.LayoutHeader__Nav--Links {
	color: rgba(255, 96, 96, 1);
	text-decoration: none;
	margin-left: 25px;
	margin-left: 57px;
}

.LayoutHeader__Nav--Links:hover {
	text-decoration: underline;
}
