.AboutBloc {
	margin: 0px 100px;
	display: flex;
	flex-direction: column;
}

.AboutBloc .resultSection {
	margin-bottom: 31px;
}
.AboutBloc .resultSection__title {
	display: none;
}
.AboutBloc .dropdowns {
	height: 879px;
}

.AboutBloc .accordeon {
	width: 82.5%;
	margin: auto;
}

.AboutBloc .resultSection__background {
	background-image: url("/src/assets/images/BannerAboutImage.png");
}

@media all and (max-width: 992px) {
	.AboutBloc {
		margin: 0px 20px;
	}
	.AboutBloc .accordeon {
		width: 100%;
		margin: 0px;
	}
	.AboutBloc .resultSection {
		margin-bottom: 0px;
	}
}

@media all and (max-width: 375px) {
	.AboutBloc .resultSection__title {
		display: none;
	}
	.AboutBloc .resultSection {
		height: 223px;
		margin-bottom: 19px;
	}
	.AboutBloc .resultSection__background {
		height: 223px;
		background-image: url("/src/assets/images/BannerAboutImageMobile.png");
	}
}
