.accordeon__item__title--text {
	font-family: "Montserrat";
	font-size: 24px;
	color: #fff;
	font-weight: 500;
}
.accordeon--content-show {
	font-family: "Montserrat";
	font-size: 24px;
	color: #ff6060;
	font-weight: 400;
	height: fit-content;
}

.Dropdown-About .accordeon--content-show {
	height: fit-content;
	padding: 36px 27px 19px 18px;
}

.AboutBloc {
	padding: 0px 100px;
}

.resultSection__illustration {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.Dropdown-About .dropdown {
	margin: auto;
}

.Dropdown-About .content-show {
	height: 150px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

@media all and (max-width: 375px) {
	.AboutBloc {
		padding: 17px 20px;
	}
	.AboutBloc .resultSection {
		width: 336px;
		height: 223px;
		margin-bottom: 19px;
	}
	.accordeon__item__title--text {
		font-family: "Montserrat";
		font-size: 13px;
		color: #fff;
		font-weight: 500;
	}
	.accordeon--content-show {
		font-family: "Montserrat";
		font-size: 12px;
		color: #ff6060;
		font-weight: 400;
	}
}
