.AboutBloc {
	padding: 20px 100px;
}

.AboutBloc .resultSection__background {
	background-image: url("/src/assets/images/BannerAboutImage.png");
}

@media all and (max-width: 992px) {
	.AboutBloc {
		width: 100%;
		padding: 0px 0px 0px 0px;
	}
}

@media all and (max-width: 375px) {
	.AboutBloc {
		padding: 0px 20px 17px 20px;
	}
	.AboutBloc .resultSection__title {
		display: none;
	}
	.AboutBloc .resultSection {
		height: 223px;
		margin-bottom: 19px;
		position: relative;
		top: 82px;
	}
	.AboutBloc .resultSection__background {
		height: 223px;
		background-image: url("/src/assets/images/BannerAboutImageMobile.png");
	}
}
