.BodyBloc {
	height: 121px;
	margin: 30px 100px 0px 100px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.BodyBloc__details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.RateHostBloc {
	height: 121px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.TagsBloc {
	display: flex;
}

@media all and (max-width: 992px) {
	.BodyBloc {
		height: fit-content;
		margin: 30px 20px;
		flex-wrap: wrap;
	}
	.BodyBloc__details {
		height: 121px;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	.RateHostBloc {
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
	}
	.TagsBloc {
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media all and (max-width: 375px) {
	.Body {
		margin: 0px;
	}
	.BodyBloc {
		height: 150px;
		margin: 15px 20px;
		flex-direction: column;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	.BodyBloc__details {
		height: 101px;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.RateHostBloc {
		height: 33px;
		justify-content: space-between;
	}
	.TagsBloc {
		justify-content: flex-start;
	}
}
