.Body {
	margin: 0px 100px;
}
.BodyBloc {
	height: 121px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.BodyBloc__details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 75%;
}
.RateHostBloc {
	width: 196px;
	height: 121px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.TagsBloc {
	display: flex;
}

@media all and (max-width: 992px) {
	.Body {
		width: 100%;
		margin: 0px 0px 0px 0px;
	}
	.BodyBloc {
		height: 100%;
		flex-direction: column;
	}
	.BodyBloc__details {
		width: 100%;
	}
	.RateHostBloc {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		margin-top: 25px;
	}
}

@media all and (max-width: 375px) {
	.Body {
		width: 100%;
		margin: 0px;
	}
	.BodyBloc {
		height: 170px;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.BodyBloc__details {
		width: 100%;
		height: 101px;
	}
	.RateHostBloc {
		width: 100%;
		height: 33px;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
	}
	.TagsBloc {
		min-width: 335px;
		max-width: 375px;
		justify-content: space-between;
	}
}
