.Home {
	margin: 3px 100px 0px 100px;
}

.Home .resultSection__background {
	background-image: url("/src/assets//images/BannerLandingImage.png");
}

@media all and (max-width: 992px) {
	.Home {
		margin: 0px 20px;
	}
	.Home .resultSection__background {
		background-image: url("/src/assets//images/BannerLandingImage.png");
		object-fit: cover;
	}
}

@media all and (max-width: 375px) {
	.Home .resultSection {
		height: 111px;
		position: relative;
		top: 16px;
		margin-bottom: 16px;
	}
	.Home .resultSection__title {
		display: block;
	}

	.Home .resultSection__background {
		background-image: url("/src/assets//images/BannerLandingMobile.png");
		height: 111px;
		bottom: 68px;
	}
}
