#root {
	width: 1440px;
	margin: auto;
	text-decoration: none;
}

@media all and (max-width: 992px) {
	#root {
		width: 100%;
	}
}

@media all and (max-width: 375px) {
	#root {
		width: 335px;
		height: 812px;
	}
}
