.LayoutHeader {
	padding: 40px 100px 20px 100px;
	height: 68px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.LayoutHeader__Nav {
	height: 50%;
	width: 313px;
}

.LayoutHeader__Nav--List {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.LayoutHeader__Nav--Links {
	font-family: "Montserrat";
	font-size: 24px;
	color: #ff6060;
	font-weight: 500;
	text-decoration: none;
	margin-left: 57px;
}

.LayoutHeader__Nav--Links:hover {
	text-decoration: underline;
}

.LOGO {
	width: 210.32px;
}

@media all and (max-width: 375px) {
	.LayoutHeader {
		padding: 20px 20px 17px 20px;
		height: 47px;
	}

	.LayoutHeader__Nav {
		height: 17px;
		width: 140px;
		display: flex;
		justify-content: flex-end;
		z-index: 9999;
	}

	.LOGO {
		width: 145px;
		height: 47px;
	}
	.LayoutHeader__Nav--List {
		font-size: 12px;
	}
	.LayoutHeader__Nav--Links {
		font-family: "Montserrat";
		font-size: 12px;
		color: #ff6060;
		font-weight: 500;
		margin-left: 10px;
	}
}
