/* LAYOUT STYLE FOR DESKTOP */

.LayoutHeader {
	margin: 40px 100px 60px 100px;
	height: 68px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.LayoutHeader__Nav {
	height: 50%;
	display: flex;
	align-items: center;
}

.LayoutHeader__Nav--List {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.LayoutHeader__Nav--Links {
	font-size: 24px;
	color: #ff6060;
	font-weight: 500;
	text-decoration: none;
	margin-left: 57px;
}

.LayoutHeader__Nav--Links:hover {
	text-decoration: underline;
}

.LOGO {
	width: 210.32px;
}

/* LAYOUT STYLE FOR TABLET */

@media all and (max-width: 992px) {
	.LayoutHeader {
		margin: 20px;
	}

	.LOGO {
		width: 145px;
		height: 47px;
	}

	.LayoutHeader__Nav--Links {
		margin-left: 10px;
		font-size: 20px;
	}

	.LayoutHeader__Nav--List {
		justify-content: flex-end;
	}
}

/* LAYOUT STYLE FOR MOBILE */

@media all and (max-width: 375px) {
	.LayoutHeader {
		height: 47px;
	}

	.LayoutHeader__Nav {
		height: 17px;
		width: 140px;
		display: flex;
		justify-content: flex-end;
	}

	.LOGO {
		width: 145px;
		height: 47px;
	}

	.LayoutHeader__Nav--List {
		font-size: 12px;
	}

	.LayoutHeader__Nav--Links {
		font-size: 12px;
	}
}
