.Carrousel {
	height: 415px;
	margin-bottom: 30px;
	position: relative;
	bottom: 85px;
}

.Carrousel__status {
	color: #fff;
	margin: 0;
	position: relative;
	bottom: 50px;
	text-align: center;
}

.Carrousel__buttons {
	display: flex;
	justify-content: space-between;
	position: relative;
	top: 284.7px;
}

.Carrousel--image {
	border-radius: 25px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.Carrousel--vectorG {
	z-index: 1;
	position: relative;
	left: 23.36px;
	cursor: pointer;
	background: none;
	border: none;
}
.Carrousel--vectorD {
	z-index: 1;
	position: relative;
	right: 23.36px;
	cursor: pointer;
	background: none;
	border: none;
}

@media all and (max-width: 375px) {
	.Carrousel {
		height: 255px;
		bottom: 19.8px;
		margin-bottom: 15px;
	}
	.Carrousel__buttons {
		padding: 0px;
		top: 145.1px;
	}
	.Carrousel--vectorG {
		left: 5.84px;
	}
	.Carrousel--vectorG img {
		width: 11.67px;
		height: 19.8px;
		left: 5.84px;
	}
	.Carrousel--vectorD {
		right: 5.84px;
	}

	.Carrousel--vectorD img {
		width: 11.67px;
		height: 19.8px;
		right: 5.84px;
	}
}
