/* BLOC DE  STYLE GENERAL (Desktop) */

.dropdown {
	font-family: "Montserrat";
	font-weight: 500;
}

.accordeon__item {
	cursor: pointer;
}

.accordeon__item__title {
	background: #ff6060;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.accordeon__item__title--vectors {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.accordeon--content {
	max-height: 0;
	overflow: hidden;
	transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.accordeon--content .show {
	height: auto;
	max-height: 9999;
	transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.accordeon--content-show {
	background-color: #f7f7f7;
	color: #ff6060;
	list-style-type: none;
}
.vectorDown {
	width: 82.5%;
	height: 48.6%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.vectorUp {
	width: 82.5%;
	height: 48.6%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* BLOC DE STYLE POUR LA PAGE FICHE LOGEMENT (Desktop) */

.dropdownBloc {
	display: flex;
	justify-content: space-between;
}

.dropdownBloc .dropdown {
	width: 582px;
}

.dropdownBloc .accordeon__item__title {
	width: 582px;
	height: 52px;
	border-radius: 10px;
}

.dropdownBloc .accordeon__item__title--text {
	font-size: 18px;
	font-weight: 500;
	margin-left: 20px;
}

.dropdownBloc .accordeon__item__title--vectors {
	width: 32px;
	height: 32px;
	margin-right: 10px;
}

.dropdownBloc .accordeon--content {
	font-size: 18px;
	font-weight: 400;
}

.dropdownBloc .accordeon--content-show {
	font-size: 18px;
	height: 249px;
	border-radius: 10px;
	padding: 40px 12px 0px 20px;
	line-height: 25.67px;
}

/* BLOC DE STYLE POUR LA PAGE ABOUT (Desktop) */

.AboutBloc .dropdown {
	width: 1023px;
	margin: auto;
	margin-bottom: 31px;
}

.AboutBloc .accordeon__item__title {
	height: 47px;
	border-radius: 5px;
	padding: 0px 18px 0px 30px;
}

.AboutBloc .accordeon__item__title--text {
	font-size: 24px;
	font-weight: 500;
}

.AboutBloc .accordeon__item__title--vectors {
	width: 28.92px;
	height: 28.92px;
}

.AboutBloc .accordeon--content {
	font-size: 24px;
	font-weight: 400;
}

.AboutBloc .accordeon--content-show {
	font-size: 24px;
	max-height: 223px;
	border-radius: 5px;
	padding: 36px 27px 19px 18px;
}

@media all and (max-width: 375px) {
	/* RESPONSIVE Page Fiche Logement */

	.dropdownBloc {
		flex-direction: column;
	}

	.dropdownBloc .dropdown {
		width: 100%;
		margin-bottom: 50px;
	}

	.dropdownBloc .accordeon__item__title {
		width: 100%;
		height: 29.93px;
		border-radius: 5px;
	}
	.dropdownBloc .accordeon__item__title--text {
		font-size: 13px;
		margin-left: 11.51px;
	}

	.dropdownBloc .accordeon--content {
		color: #ff6060;
		font-size: 12px;
	}

	.dropdownBloc .accordeon--content-show {
		text-align: justify;
		font-size: 12px;
		line-height: 17.11px;
		max-height: 143px;
		padding: 0px 5.77px 6.91px 11.51px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
	.dropdownBloc .accordeon__item__title--vectors {
		width: 18.42px;
		height: 18.42px;
		margin-right: 5.77px;
	}

	/* RESPONSIVE Page About */

	.AboutBloc .dropdown {
		width: 100%;
		margin: auto;
		margin-bottom: 31px;
		z-index: 9999;
	}

	.AboutBloc .accordeon__item__title {
		height: 30px;
		border-radius: 5px;
		padding: 0px;
	}
	.AboutBloc .accordeon__item__title--text {
		font-size: 13px;
		margin-left: 11.51px;
	}
	.AboutBloc .accordeon--content {
		color: #ff6060;
		font-size: 12px;
	}
	.AboutBloc .accordeon--content-show {
		text-align: justify;
		font-size: 12px;
		line-height: 17.11px;
		max-height: 143px;
		padding: 17.31px 5.77px 6.91px 11.51px;
	}
	.AboutBloc .accordeon__item__title--vectors {
		width: 18.42px;
		height: 18.42px;
		margin-right: 5.77px;
		z-index: 9999;
	}
}
