.dropdown {
	width: 100%;
}

.accordeon {
	width: 100%;
}

.accordeon__item {
	background: #ff6060;
	border-radius: 5px;
	margin-bottom: 50px;
	cursor: pointer;
}

.accordeon__item__title {
	height: 47px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 17px;
}

.accordeon__item__title--vectors {
	cursor: pointer;
}

.accordeon--content {
	max-height: 0;
	overflow: hidden;
	transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.accordeon--content .show {
	height: auto;
	max-height: 146;
	transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.accordeon--content-show {
	background-color: #f7f7f7;
	padding: 27px;
}

@media all and (max-width: 375px) {
	.accordeon__item {
		margin-bottom: 20px;
	}
	.accordeon__item__title {
		height: 30px;
	}

	.accordeon__item__title--text {
		font-family: "Montserrat";
		font-size: 13px;
		color: #fff;
		font-weight: 500;
	}
	.accordeon--content .show {
		max-height: 143px;
	}

	.accordeon--content-show {
		height: fit-content;
		font-size: 12px;
		padding: 17px 6.91px 6.91px 11.51px;
	}
	.vectorUp {
		width: 8.98px;
		height: 15.2px;
	}
	.vectorDown {
		width: 8.98px;
		height: 15.2px;
	}
}
