/* BLOC DE  STYLE GENERAL (Desktop) */

.dropdown {
	font-family: "Montserrat";
	font-weight: 500;
}

.accordeon__item {
	cursor: pointer;
}

.accordeon__item__title {
	background: #ff6060;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.accordeon__item__title--vectors {
	cursor: pointer;
}

.accordeon--content {
	max-height: 0;
	overflow: hidden;
	transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.accordeon--content .show {
	height: auto;
	max-height: 9999;
	transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.accordeon--content-show {
	background-color: #f7f7f7;
	color: #ff6060;
	list-style-type: none;
}

/* BLOC DE STYLE POUR LA PAGE FICHE LOGEMENT (Desktop) */

.dropdownBloc .dropdown {
	width: 582px;
}

.dropdownBloc .accordeon__item__title {
	width: 582px;
	height: 52px;
	font-size: 18px;
}

.dropdownBloc .accordeon--content-show {
	font-size: 18px;
	height: 249px;
	border-radius: 10px;
}

/* 

- RADIUS DU BLOC TITLE --> 10PX
- FONT SIZE DU DETAILS TEXT --> 18PX
- TAILLE BOX DE VECTEUR ARROW --> 28.92 * 28.92
- MARGIN DU BLOC CONTENT SHOW (Inté) --> g 20PX d12px h 40px b 0px

*/

/* BLOC DE STYLE POUR LA PAGE ABOUT (Desktop) */

.AboutBloc .dropdown {
	width: 1023px;
}

.AboutBloc .accordeon__item__title {
	height: 47px;
	font-size: 24px;
}

.AboutBloc .accordeon--content-show {
	font-size: 24px;
	height: 146px;
	border-radius: 5px;
}

/* 

- FONT SIZE DU DETAILS TEXT --> 24PX
- TAILLE BOX DE VECTEUR ARROW -->  32 * 32
- RADIUS DU BLOC TITLE --> 5PX
- MARGIN DU BLOC CONTENT SHOW (Inté) --> g 18PX d27px h 36px b 19px

*/

@media all and (max-width: 375px) {
	.accordeon__item {
		margin-bottom: 50px;
	}
	.accordeon__item__title {
		height: 30px;
	}

	.accordeon__item__title--text {
		font-family: "Montserrat";
		font-size: 13px;
		color: #fff;
		font-weight: 500;
	}
	.accordeon--content .show {
		max-height: 143px;
	}

	.accordeon--content-show {
		height: fit-content;
		font-size: 12px;
		padding: 17px 6.91px 6.91px 11.51px;
	}
	.vectorUp {
		width: 8.98px;
		height: 15.2px;
	}
	.vectorDown {
		width: 8.98px;
		height: 15.2px;
	}
}
