.Host {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.Host--name {
	color: #ff6060;
	font-size: 18px;
	font-weight: 500;
	margin-right: 10px;
	width: 93px;
	text-align: right;
}
.Host--picture {
	border-radius: 90px;
	width: 64px;
	height: 64px;
}
