.Tags {
	font-family: "Montserrat";
	font-size: 14px;
	color: #fff;
	font-weight: 500;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: #ff6060;
	width: 115px;
	height: 25px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px 22px;
	margin-right: 10px;
}

@media all and (max-width: 375px) {
	.Tags {
		width: 84px;
		height: 18px;
		font-size: 10px;
	}
}
