.Tags {
	font-size: 14px;
	color: #fff;
	white-space: nowrap;
	background-color: #ff6060;
	min-width: 107px;
	width: fit-content;
	height: 25px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	padding: 0px 4px;
}

@media all and (max-width: 992px) {
	.Tags {
		margin: 10px;
	}
}

@media all and (max-width: 375px) {
	.Tags {
		min-width: 84px;
		height: 18px;
		font-size: 10px;
		flex-wrap: wrap;
		margin: 0px;
		margin-right: 10px;
	}
}
