.Tags {
	font-size: 14px;
	color: #fff;
	font-weight: 500;
	white-space: nowrap;
	background-color: #ff6060;
	width: 115px;
	height: 25px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}

@media all and (max-width: 375px) {
	.Tags {
		width: max-content;
		min-width: 84px;
		padding: 0px 8px;
		height: 18px;
		font-size: 10px;
	}
}
