.Title {
	width: fit-content;
}

.Title--name {
	color: #ff6060;
	font-size: 36px;
	font-weight: 500;
	margin: 0;
}

.Title--location {
	color: #ff6060;
	font-size: 18px;
	font-weight: 500;
	margin: 0;
	margin-bottom: 20px;
}

@media all and (max-width: 375px) {
	.Title--name {
		font-size: 18px;
	}
	.Title--location {
		font-size: 14px;
		margin-bottom: 10px;
	}
}
