.Title {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 77px;
}

.Title--name {
	height: 67%;
	font-size: 36px;
	color: #ff6060;
	font-weight: 500;
	margin: 0;
	display: flex;
	align-items: center;
}

.Title--location {
	height: 33%;
	font-size: 18px;
	color: #ff6060;
	font-weight: 500;
	margin: 0;
	display: flex;
	align-items: center;
}

@media all and (max-width: 992px) {
	.Title--name {
		font-size: 26px;
	}
}

@media all and (max-width: 375px) {
	.Title {
		height: 73px;
	}
	.Title--name {
		font-size: 18px;
		height: 46px;
		align-items: flex-start;
	}
	.Title--location {
		font-size: 14px;
		height: 22px;
		align-items: flex-end;
	}
}
